@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf');
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', system-ui, sans-serif;
  }
}
