extends /layouts/default-layout

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content 
  h2.text-h2 Dashboard
  <img src="assets/icons-cat-footprint.png" alt="" />